<mat-card class="alert" role="alert">
  <mat-card-title class="alert-heading">
    <span><mat-icon>thumb_up</mat-icon> Well done!</span>
    <button mat-icon-button class="alert-close" aria-label="Close"><mat-icon>close</mat-icon></button>
  </mat-card-title>
  <mat-card-content class="alert-message">
      You did a great job! To get your reward, 
      <a href="#" class="alert-link">click here</a>.
      <mat-divider inset></mat-divider>
  </mat-card-content>
  <mat-card-footer class="alert-footer">
    Your reward will be credited to your account withing 24 Hour.
  </mat-card-footer>
</mat-card>