.alert {
  width: 400px;
  position: relative;
  margin: 1rem 0;
  
  .alert-link {
    text-decoration: none;
    color: #06357a;
    font-weight: 700;
  }
}

.alert-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;

  span {
    display: flex;
    align-items: center;

    mat-icon {
      margin-right: 0.5rem;
      vertical-align: middle;
    }
  }
}

.alert-message {
  padding: 1rem 1rem 0;
  font-size: 1rem;

  mat-divider {
    margin-top: .5rem;
  }
}

.alert-footer {
  padding: 1rem 2rem;
}

