<div class="container">
  <h1>Angular Material Theming System: Guide</h1>
  <button mat-icon-button class="theme-toggle" aria-label="Toggle Dark Theme" (click)="toggleDarkTheme()"><mat-icon>{{ isDark ? 'dark_mode' : 'light_mode' }}</mat-icon></button>
  <mat-card>
    <mat-card-title>Hello Themes</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
  
    </mat-card-content>
    <div class="btn-group">
      <button mat-raised-button color="primary">PRIMARY</button>
      <button mat-raised-button color="accent">ACCENT</button>
      <button mat-raised-button color="warn">WARN</button>
    </div>
  </mat-card>
</div>
<app-alert></app-alert>
