<div class="container">
  <h1>Angular Material Theming System: Guide</h1>
  <button mat-icon-button class="theme-toggle" aria-label="Toggle Dark Theme" (click)="toggleDarkTheme()"><mat-icon>{{ isDark ? 'dark_mode' : 'light_mode' }}</mat-icon></button>
  <mat-card>
    <mat-card-title>Hello Themes</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
  
    </mat-card-content>
    <div class="btn-group">
      <button mat-raised-button color="primary">PRIMARY</button>
      <button mat-raised-button color="accent">ACCENT</button>
      <button mat-raised-button color="warn">WARN</button>
    </div>
  </mat-card>
</div>
<app-alert></app-alert>
<mat-card class="theme-wrapper">
  <button mat-button color="success">SUCCESS</button>
  <button mat-stroked-button color="success">SUCCESS Stroked</button>
  <button mat-flat-button color="success">SUCCESS Flat</button>
  <button mat-raised-button color="success">SUCCESS Raised</button>
  <button mat-icon-button color="success"><mat-icon>check_circle</mat-icon></button>
  <button mat-fab color="success"><mat-icon>check_circle</mat-icon></button>
  <button mat-mini-fab color="success"><mat-icon>check_circle</mat-icon></button>
</mat-card>
  
<mat-card class="theme-wrapper">
  <button mat-button color="info">INFO</button>
  <button mat-stroked-button color="info">INFO Stroked</button>
  <button mat-flat-button color="info">INFO Flat</button>
  <button mat-raised-button color="info">INFO Raised</button>
  <button mat-icon-button color="info"><mat-icon>info</mat-icon></button>
  <button mat-fab color="info"><mat-icon>info</mat-icon></button>
  <button mat-mini-fab color="info"><mat-icon>info</mat-icon></button>
</mat-card>


