.theme-toggle {
  position: fixed;
  top: 1rem;
  right: 1rem;
}

mat-card {
  width: 30%;
  padding: 1.2rem;

  .btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
}

.theme-wrapper {
  width: 65%;
  margin-bottom: 1rem;
  padding: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}