@use '@angular/material' as mat;

@use './styles/themes/light';
@use './styles/components';
@use './styles/typography/config' as typography;

@include mat.core(typography.$angular-theme-app);
@include mat.all-component-themes(light.$angular-theme-app-light-theme);
@include components.theme(
  light.$angular-theme-app-light-theme,
  typography.$angular-theme-app
);
// @include mat.core-theme(light.$angular-theme-app-light-theme);
// @include mat.card-theme(light.$angular-theme-app-light-theme);
// @include mat.button-theme(light.$angular-theme-app-light-theme);

// Styling elements
html, 
body { 
  height: 100%;
  padding: 2rem 4rem;
}

body {
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

// button,
mat-card {
  border-radius: 1.5rem !important;
}
